rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mandados/{document} {
      allow read, write: if true;
    }
    match /advogados/{document} {
      allow read, write: if true;
    }
    match /etiquetas/{document} {
      allow read, write: if true;
    }
  }
}
